html{
    box-sizing: border-box;
    height: 100%;
}
*,*::before,*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    height: 100%;
}
img{
    max-width: 100%;
    height: auto;
    box-sizing: content-box;
}
a{
    text-decoration: none;
}
ul{
  list-style: none;
}
ul,h1,h2,h3{
    margin: 0;
    padding: 0;
}
.page-wrapper  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #c5c5c5;
}
.page-content{
    flex-grow: 1;
}
.container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.page-header{
    margin-bottom: 60px;
}
.page-header .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 220px;
}
/*task-1*/
.exit{
    margin-left: 50px;
}
.form {
    width: 300px;
    margin: 0 auto;
    padding: 20px 50px;
    background-color: #ccc;
    border-radius: 10px;
}
.form label {
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
}
.form p {
    margin: 10px 0 5px;
    padding: 0;
}
.form input:not([type='submit']):not([type='reset']) {
    width: 100%;
    padding: 8px 0 8px 15px;
    border-radius: 5px;
    border: none;
}
input[type='submit'],
input[type='button'],
.form-btn{
    border: none;
    display: block;
    width: 140px;
    padding: 10px 0;
    color: white;
    background-color: #0099FF;
    border-radius: 5px;
    cursor: pointer;
}
input[type='submit'] {
    margin-right: 30px;
}
input[type='submit']:hover,
input[type='button']:hover {
    background-color: #00ccff;
}

.hidden{
    display: none;
}
/*19-20 задания*/
.registration-wrapper,
.goods-form {
    width: 400px;
    margin: 0 auto;
}
.authorization,
.goods-form {
    padding: 20px;
}
.authorization label {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-bottom: 20px;
}
.authorization input:not([type=submit]) {
    margin-left: auto;
    height: 30px;
    border: none;
    padding: 0 10px

}
/* 19- 21 задание */
.reviews {
    width: 600px;
    margin: 0 auto;
}
.add-comment {
    margin-bottom: 20px;
    text-align: center;
}
.reviews-form {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 50px;
    color: white;
    border-radius: 10px;
    background-color: #666;
}
.reviews-form h2 {
    margin-bottom: 20px;
}
.reviews-form label {
    flex-basis: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}
.reviews-form label:last-of-type span {
    margin-bottom: 10px;
    width: 100%;
}
.reviews-form input:not([type=submit]) {
    height: 40px;
    width: 350px;
    margin-left: auto;
    padding: 0 15px;
    border: none;
    border-radius: 10px;
}
.reviews-form input[type=submit]{
    margin-right: 0;
}
.reviews-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    resize: vertical;
}
.reviews-form input.error,
textarea.error{
    border: 2px solid red;
}
/* комментарий блок */
.review-item {
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid rgba(0,0,0,.3);
    border-radius: 10px;
    word-break: break-word;
}
.review-item::before {
    position: absolute;
    content: attr(data-number);
    font-weight: 700;
    left: -15px;
    top: 5px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
}
.review__info {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: baseline;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.review__author {
    padding-right: 5px;
    padding-left: 10px;
    font-family: Tahoma;
    font-weight: 700;
}
.review__town {
    margin-right: auto;
    padding-left: 5px;
    font-family: Tahoma;
    font-weight: 700;
}
.review__text {
    padding: 5px;
    background-color: #fff;
}
